body {
    font-family: Arial, sans-serif;
    background-color: #eee7e7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #094e0b;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.description {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.difficulty-selector {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#difficulty {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.container {
    max-width: 600px;
    height: 250px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:50%;
    align-self: center;
}
button:hover {
    background-color: #218838;
}
#result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

